 <div class="form-box" id="login-box">
     <div class="header" translate="login.title">Authentication</div>
     <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
         <strong>Authentication failed!</strong> Please check your credentials and try again.
     </div>
     <form role="form">
         <div class="body bg-gray">
             <div class="form-group">
                 <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username"/>
             </div>
             <div class="form-group">
                 <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}" ng-model="password"/>
             </div>
             <div class="form-group">
                 {{"login.form.rememberme" | translate}}
                 <input type="checkbox" id="rememberMe" ng-model="rememberMe" checked>
             </div>
         </div>
         <div class="footer">
             <button type="submit" class="btn bg-olive btn-block" ng-click="login()" translate="login.form.button">Authenticate</button>

             <div class="alert alert-warning" translate="global.messages.info.register">
         You don't have an account yet? <a href=\"#/register\">Register a new account</a>
     </div>
         </div>
     </form>

 </div>
